

body{

background-color: #CDBBA7;

}


h1 {

font-family: 'IM Fell English', serif;

padding-left: 960px;

color: #F5E8C7;
}

h5 {

font-family: 'IM Fell English', serif;

font-size: 1.1em;

padding-left: 1000px;

}

.fa-star{

font-size: 50px;
color: #F5E8C7;
padding-left: 1000px

}
